# Set the cursor speed (wait time, dups per second)
xset r rate 300 35

# Set the "theme"
[[ -f ~/.config/X/.Xresources ]] && xrdb -merge -I$HOME ~/.config/X/.Xresources

# Applications
nm-applet &
blueman-applet &
flameshot &
volumeicon &
picom &
dunst &
greenclip daemon &
1password --silent &

setxkbmap -option caps:super

~/owl/common/scripts/random-bg.sh