[global_config]
  inactive_color_offset = 0.61
  suppress_multiple_term_dialog = True
[keybindings]
[profiles]
  [[default]]
    background_color = "#282a36"
    background_image = None
    font = FiraMono Nerd Font Propo Medium 18
    foreground_color = "#f8f8f2"
    show_titlebar = False
    palette = "#262626:#e356a7:#42e66c:#e4f34a:#9b6bdf:#e64747:#75d7ec:#efa554:#7a7a7a:#ff79c6:#50fa7b:#f1fa8c:#bd93f9:#ff5555:#8be9fd:#ffb86c"
    use_system_font = False
    copy_on_selection = True
  [[New Profile]]
[layouts]
  [[default]]
    [[[child1]]]
      parent = window0
      type = Terminal
    [[[window0]]]
      parent = ""
      type = Window
  [[Floating]]
    [[[child0]]]
      type = Window
      parent = ""
      order = 0
      position = 10:37
      maximised = False
      fullscreen = False
      size = 1111, 1455
      title = /bin/zsh
      last_active_term = e01090f0-28f2-42d0-9a41-0495e09113bb
      last_active_window = False
    [[[terminal1]]]
      type = Terminal
      parent = child0
      order = 0
      profile = default
      uuid = e01090f0-28f2-42d0-9a41-0495e09113bb
    [[[child2]]]
      type = Window
      parent = ""
      order = 0
      position = 1133:37
      maximised = False
      fullscreen = False
      size = 1111, 1455
      title = /bin/zsh
      last_active_term = 4cf1edc1-be24-49f5-91e9-f7922dbf576c
      last_active_window = False
    [[[terminal3]]]
      type = Terminal
      parent = child2
      order = 0
      profile = default
      uuid = 4cf1edc1-be24-49f5-91e9-f7922dbf576c
    [[[child4]]]
      type = Window
      parent = ""
      order = 0
      position = 757:37
      maximised = False
      fullscreen = False
      size = 740, 1455
      title = /bin/zsh
      last_active_term = 95bd60c4-ea73-4557-b1b1-85498f90b473
      last_active_window = True
    [[[terminal5]]]
      type = Terminal
      parent = child4
      order = 0
      profile = New Profile
      uuid = 95bd60c4-ea73-4557-b1b1-85498f90b473
[plugins]
