name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Install GTK4 dependencies
      run: sudo apt-get update && sudo apt-get install -y libgtk-4-dev
    - name: Build
      run: cargo build --release
    - name: Upload files to a GitHub release
      uses: svenstaro/upload-release-action@2.9.0
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: ./target/release/owl
        asset_name: owl
        tag: ${{ github.ref }}
        overwrite: true
        body: "Latest build"
      
